body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

img {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 8px;
    margin-left: 4px;
}

#asta {
    border: none;
    height: 300px;
    width: 300px;
}

#boing {
    all: unset;
    position: relative;
    z-index: 10;
    background-color: #dc0e0e;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 16px 32px;
    cursor: pointer;
    border-radius: 12px;
}

li {
    font-family: verdana;
    font-size: 20px;
}
