body {
    background-color: lightblue;
}
h1 {
    color: white;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}
img {
    border: 1px solid black;
    border-radius: 10px;
}
#asta {
    border: none;
    height: 300px;
    width: 300px;
}
